<h2>Assimiler l'information</h2>

<p>
    <strong>Définition : </strong>Recevoir et comprendre une donnée.
</p>

<p>
    Assimiler l’information, c’est savoir comprendre ce qui nous est transmis. C’est une compétence que l’on retrouve aussi bien 
    au quotidien qu’en milieu professionnel.
</p>
<p>
    Lors d’une réunion avec un client, écouter et comprendre ce que celui-ci expose permet de pouvoir pleinement y prendre part 
    et la faire avancer. Dans le contexte de développeur qui est le mien, il s’agirait, par exemple, de retranscrire les demandes 
    clients en solution techniques.
</p>
<p>
    J’ai, pour ma part, assister à de nombreuses réunions depuis mes débuts dans le milieu professionnel. J’ai pu m’apercevoir de 
    ma montée en compétence dans ce domaine au fil du temps, grâce notamment à une meilleure maîtrise de mon sujet. Connaître son 
    sujet est indispensable pour assimiler une information.
</p>
<p>
    Cependant, cette compétence n’intervient pas uniquement dans un contact humain. En tant que développeur, le contact Homme-Machine 
    est également très présent. Un développeur est souvent confronté à des bugs. Un bug n’est jamais anodin, il résulte d’une faille 
    dans le code réalisé. Savoir comprendre ces bugs est un grand pas vers leur résolution.
</p>
<p>
    Je suis moi-même confronté tous les jours à des bugs plus ou moins complexes. J’ai, avec le temps, plus de facilité à les résoudre 
    car mon amélioration technique accélère ma compréhension des problèmes.
</p>
<br/>
<button (click)="goBack()">Retour</button>