<h2>Persévérer</h2>

<p>
    <strong>Définition : </strong>Demeurer ferme et constant dans un sentiment, une résolution.
</p>

<p>
    Pourquoi persévérer ? Ma réponse est que persévérer est un des facteurs qui permet la réussite personnelle et professionnelle.
    Cette qualité peut se travailler à chaque instant et j’ai fait le choix de l’intégrer dans ma routine quotidienne.
</p>
<p>
    Elle m’appuie dans mon métier de développeur informatique. Le monde numérique évolue constamment et de nouveaux challenges
    apparaissent. Face à ce monde changeant et à la compétition grandissante, il est indispensable de pratiquer la veille
    technologique et de se former en continue.
</p>
<p>
    J’ai pu mettre en pratique cette aptitude et en voir ses résultats plus que probant.
</p>
<p>
    Lors de mes 15 ans, sur les recommandations d’un ami, j’ai rejoint le club de Volley-Ball en section compétition. Malgré
    ma forte timidité et ma petite stature, j’ai su insister et contre toute attente, atteindre le niveau régional au bout
    de 3 années d’entrainements intensifs et remporter plusieurs coupes avec mon équipe.
</p>
<p>
    Cette riche expérience et ces résultats positifs m’ont fait grandir. Ils m’ont ensuite poussé vers un autre sport, le Badminton.
    Pratiquant cette activité en compétition depuis 6 ans, j’ai pu une nouvelle fois accéder au niveau régional. Mes objectifs
    ont été accomplis et j’en tire une grande satisfaction. Je peux maintenant envisager de plus grands objectifs encore
    impensables lors de mes débuts.
</p>
<p>
    Face aux obstacles et à l’adversité, je choisi de persévérer car je suis persuadé que ce sont les petits efforts de tous
    les jours qui font la différence.
</p>
<br/>
<button (click)="goBack()">Retour</button>