<h2>Développer une application web avec Java EE</h2>
<p>Une application web désigne un logiciel applicatif hébergé sur un serveur et accessible via un navigateur web.</p>
<p>
    La création d’une application web peut se faire à l’aide du langage de programmation Java avec l’utilisation du Java EE (Java
    Enterprise Edition).
</p>
<p>
    Java EE une extension de la plate-forme standard Java SE (Java Standard Edition) basée sur du Java. L’extension a pour but
    de faciliter le développement d’applications web en y ajoutant un nombre importants de fonctionnalités non disponibles
    en version standard.
</p>
<p>
    Plus que l’apprentissage théorique et des projets d’école en Java EE, j’ai mis en pratique mes compétences et mon savoir-faire
    dans le monde professionnel à travers mon stage chez AtoS et Klee Group.
</p>

<h3>Projets : </h3>

<ul class="realisation">
    <li (click)="gotoRealisationDetail()">
        <span class="badge">1</span> ALPHA
    </li>
</ul>

<button (click)="goBack()">Retour</button>