<h2>Développer une application mobile iOS en Swift</h2>
<p><strong>Swift : </strong>Langage de programmation propre à Apple qui vient remplacer l’Objective-C. Il permet de développer 
    des applications mobiles pour les différents outils iOS, macOS, tvOS.</p>
<p>
    Swift est une technologie que j’ai découvert lors de sa sortie et que j’ai appris à connaître jusqu’ici. Remplaçante de 
    l’Objective-C, elle se veut simplifiée mais tout aussi, voire plus, puissante.
</p>
<p>
    J’utilise ce langage tous les jours au travail puisque je développe partiellement des applications mobiles pour environnement 
    Apple. Je suis aujourd’hui capable de créer et de maintenir une application iOS de A à Z, allant de la définition de l’interface 
    utilisateur, jusqu’à la gestion des données, persistantes ou non, dans l’application. 
</p>
<p>
    Swift est aujourd’hui pour moi l’un de mes points forts et est la technologie qui m’enthousiasme le plus.
</p>

<h3>Projets : </h3>

<ul class="realisation">
    <li (click)="gotoRealisationDetail()">
        <span class="badge">1</span> Bpeek
    </li>
</ul>

<button (click)="goBack()">Retour</button>