<div class="grid grid-pad">
    <a routerLink="/competence/humaine" class="col-1-4">
        <div class="module realisation">
            <h4>Assimiler l'information</h4>
        </div>
    </a>
    <a routerLink="/competence/technique" class="col-1-4">
        <div class="module realisation">
            <h4>Swift</h4>
        </div>
    </a>
    <a routerLink="/competence" class="col-1-4">
        <div class="module realisation">
            <h4>Java Android</h4>
        </div>
    </a>
    <a routerLink="/competence" class="col-1-4">
        <div class="module realisation">
            <h4>Symfony2</h4>
        </div>
    </a>
</div>