<h2>Projet ALPHA</h2>

<h3>Contexte :</h3>

<p>
    Le projet ministériel Alpha doit mettre en place un système d’information(SI) achats unique pour l’ensemble des entités achats
    du Ministère de la Défense. Sa mise en œuvre se présente en trois objectifs : l’harmonisation des SI achats existants
    sous la forme d’un SI unique, la simplification et l’unification des processus achats, l’interopérabilité et partages
    des bonnes pratiques.
</p>
<p>
    En mars 2015, le SI Alpha est confié à Oalia. L’éditeur français Oalia, accompagné des sociétés de conseils IBM et Klee Group
    remportent le projet Alpha.
</p>
<p>
    Ce projet se traduit par la conception ainsi que la réalisation de l’application Alpha qui permet la gestion des achats au
    sein du ministère. Cette application est développée en collaboration avec le cotraitant IBM et le sous-traitant Oalia.
</p>
<p>
    Alpha est suivi de près par les dirigeants de Klee Group car les enjeux pour Klee ainsi que le Ministère de la Défense sont
    importants.
</p>
<h3>Mission :</h3>
<p>
    Au sein de l’équipe, je développe les fonctionnalités demandées en customisant le progiciel de la société Oalia. En collaboration
    avec l'équipe fonctionnelle, je dois respecter les documents de spécifications et le plan de charge prévu.
</p>
<h3>Technologies :</h3>

<ul class="realisation">
    <li (click)="gotoJavaCompetence()">
        <span class="badge">1</span> Java EE
    </li>
</ul>
<button (click)="goBack()">Retour</button>