<h2>BPEEK</h2>

<h3>Contexte :</h3>

<p>
    Bpeek est une application qui rémunère ses utilisateurs pour réaliser de courtes missions dans tout type de commerce, 
    dans la rue et même chez soi. 
</p>
<p>
    Créée initialement en 2013 par la société PrestaConcept, elle a fait l'objet d'un rachat par le groupe FMG Sales and Marketing en 2016.
    Une nouvelle société du nom de Bpeek s'est alors installée au sein du groupe.
</p>
<p>
    Le groupe FMG est constitué de plusieurs sociétés dont le secteur de métier s'oriente vers le marketing terrain. Le rachat de Bpeek 
    n'est pas annodin car il permet de mettre en relation le coeur de métier du groupe et l'intérêt de l'application : le contrôle terrain.
</p>
<p>
    Bpeek travaille avec de nombreuses sociétés souhaitant établir un contrôle marketing de leur produit sur le terrain. On référence aujourd'hui 
    des entreprises comme Solocal, Apple ou encore Kronenbourg.
</p>
<h3>Mission :</h3>
<p>
    Sur ce projet, je suis le développeur fullstack attitré. J'ai pour mission de gérer les applications iOS et Android pour ce qui est du 
    front-end, et le back-end.
</p>
<h3>Technologies :</h3>

<ul class="realisation">
    <li (click)="gotoJavaCompetence()">
        <span class="badge">1</span> Swift
    </li>
</ul>
<ul class="realisation">
    <li>
        <span class="badge">2</span> Java Android
    </li>
</ul>
<ul class="realisation">
    <li>
        <span class="badge">3</span> Symfony2
    </li>
</ul>
<button (click)="goBack()">Retour</button>